@use "sass:map";
@import "colors.scss";

$header-bg: map.get($secondary-colors, "100");
$header-border-color: map.get($secondary-colors, "500");

.header {
    background: rgba($header-bg, 0.85);
    position: fixed;
    width: 100%;
    border-bottom: 1px solid $header-border-color;
}

.row {
    align-items: center;
    display: flex;
    font-size: 0.8rem;
    font-family: var(--secondary-font);
    height: 48px;
    justify-content: space-between;
    position: relative;
}

.firstItemsBox {
    display: flex;
}

.firstItemsBox > div {
    margin-right: 24px;
}

.imageBox {
    border-radius: 200px;
    height: 80px;
    overflow: hidden;
    position: absolute;
    top: 4px;

    left: calc(50% - 100px / 2);
}

.secondItemsBox {
    display: flex;
    justify-content: flex-end;
}

.secondItemsBox > div {
    margin-left: 64px;
}
