@use "sass:map";
@import "colors.scss";

$header-border-color: map.get($secondary-colors, "500");

.header {
    position: absolute;
    width: 100%;
    top: 0;
}

.row {
    align-items: center;
    display: flex;
    font-size: 0.875rem;
    font-family: var(--secondary-font);
    font-weight: 500;
    justify-content: space-between;
    position: relative;
    text-transform: uppercase;
}

.menu {
    display: flex;
}

.menu > div {
    margin-left: 48px;
}

.imageBox {
    padding: 24px 0;
}

.secondItemsBox {
    display: flex;
    justify-content: flex-end;
}

.secondItemsBox > div {
    margin-left: 64px;
}
