@import "breakpoints";


.background {
  background: url("/background-home.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  justify-content: center;
  width: 100vw;
  
  @include sm {
    height: 60vh;
    padding-bottom: 12vh;
  }
  
  @include md {
    background-attachment: fixed;
    height: 100vh;
    padding-bottom: 20vh;
  }
}

.mainSectionBox {
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 40vh;
  padding-bottom: 8vh;
  text-align: left;
  width: 100%;

  @include sm {
    height: 60vh;
    padding-bottom: 12vh;
  }
  
  @include md {
    height: 100vh;
    padding-bottom: 20vh;
  }
}

.constrainedBox {
    width: 80%;
}
