@import "breakpoints";

.background {
    background: url("/background-home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--secondary-color);
    height: 100vh;
    justify-content: center;
    // text-shadow: 0 0 2px #fff;
    width: 100vw;
}

.mainSectionBox {
    background: rgba(255,255,255,0.3);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 calc(9vh + 9vw) 120px 0;
    text-align: right;
    width: 100%;
}

.background h2 {
    text-transform: uppercase;
}
