a,
button {
  .button {
    font-family: var(--secondary-font);
    padding: 6px 16px;
  }

  .transparent {
    border: none;
    color: var(--font-primary-color);

    &:hover {
      background: rgba(#222, 0.2);
    }
  }
}
