@use "sass:map";
@import "colors";

$line-color: map.get($primary-colors, "500");
$lineWidth: 88px;

.headerSection {
  h2 {
    font-size: 4rem;
  }

  p {
    font-weight: 700;
    margin-bottom: 40px;
    position: relative;

    &::after {
      content: "";
      width: $lineWidth;
      height: 4px;
      background-color: $line-color;
      position: absolute;
      bottom: -16px;
      left: -30px;
    }
  }

  &.center {
    text-align: center;

    & p::after {
      bottom: -24px;
      left: calc(50% - $lineWidth / 2);
    }
  }
}
