@use "sass:map";
@import "colors";

$line-color: map.get($primary-colors, "500");

.headerSection p {
  font-weight: 700;
  margin-bottom: 40px;
  position: relative;
}

.headerSection p::after {
  content: '';
  width: 87px;
  height: 3px;
  background-color: $line-color;
  position: absolute;
  bottom: -16px;
  left: -30px;
}

.headerSection h2 {
  font-size: 4rem;
}