@use "breakpoints";

.container {
  margin: 0 auto;

  width: calc(100% - 64px);

  @include breakpoints.md {
    width: 720px;
  }

  @include breakpoints.lg {
    width: 960px;
  }

  @include breakpoints.xl {
    width: 1140px;
  }

  @include breakpoints.xxl {
    width: 1320px;
  }
}

$verticalPadding: 100px;

.container.verticalPadding {
  padding-top: $verticalPadding;
  padding-bottom: $verticalPadding;
}

.container.extraPadding {
  padding-top: calc($verticalPadding + 48px);
  padding-bottom: $verticalPadding;
}
