@use "sass:map";
@import "colors";
@import "breakpoints";

$line-color: map.get($primary-colors, "500");
$lineWidth: 88px;

@mixin centered {
  text-align: center;

  & .complementaryText::after {
    bottom: -24px;
    left: calc(50% - $lineWidth / 2);
  }
}

@mixin left-aligned {
  margin-bottom: 0;
  text-align: left;

  & .complementaryText::after {
    bottom: -16px;
    left: -32px;
  }
}

.headerSection {
  &.main {
    @include left-aligned;
  }

  &:not(.main) {
    @include centered;
    margin-bottom: 32px;

    &.lg {
      @include lg {
        @include left-aligned;

        &.center {
          @include centered;
        }
      }
    }
  }
}

.title {
  font-size: 2rem;

  @include sm {
    font-size: 3rem;
  }

  @include md {
    font-size: 4rem;
  }
}

.complementaryText {
  font-weight: 700;
  margin-bottom: 40px;
  position: relative;

  &::after {
    content: "";
    width: $lineWidth;
    height: 4px;
    background-color: $line-color;
    position: absolute;
  }
}
