@use "breakpoints";
@use "typography";

.title {
  font-size: typography.$title-font-size-base;

  @include breakpoints.sm {
    font-size: typography.$title-font-size-mid;
  }

  @include breakpoints.xxl {
    font-size: typography.$title-font-size-large;
  }
}
