.serviceSection {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  text-align: center;

  h3 {
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
  }
  
  p {
    font-size: 0.84rem;
    line-height: 1.4rem;
  }
}