@import 'breakpoints';

.column {
  display: flex;
  flex-direction: column;

  &.reversed {
    flex-direction: column;

    @include md {
      flex-direction: column-reverse;
    }
  }
}

.imageBox {
  position: relative;
  height: 385px;
  margin: 0 auto;
  width: 330px;
  
  & img {
    object-fit: cover;
  }
  
  @include md {
    height: 380px;
    width: 100%;
  }

  @include xl {
    height: 460px;
  }
}

.textBox {
  margin: 24px 0;

  & :first-child {
    font-size: 1.4375rem;
    font-weight: 700;
    margin-bottom: 10px;
  }

  & :last-child {
    font-size: 0.875rem;
    line-height: 26px;
  }
}