@use "sass:map";
@import "breakpoints";
@import "colors";

$header-border-color: map.get($secondary-colors, "500");

.header {
  position: absolute;
  width: 100%;
  top: 0;
}

.row {
  align-items: center;
  display: flex;
  font-size: 0.875rem;
  font-family: var(--secondary-font);
  font-weight: 500;
  justify-content: space-between;
  position: relative;
  text-transform: uppercase;
}

.menuIcon {
  &.hide {
    display: none;
  }

  @include md {
    display: none;
  }
}

.menu {
  align-items: center;
  display: none;

  @include md {
    display: flex;
  }

  & > * {
    margin: 0 8px;
  }
}

.menu > div {
  margin-left: 48px;
}

.menuButton:hover {
  background: rgba(#222, 0.1);
}

.drawerContent {
  display: flex;
  flex-direction: column;
  padding: 32px 32px;
  position: relative;

  & > * {
    margin-bottom: 16px;
  }
}